.CharacterRoot {
  > div {
    margin: 1rem 0;
    height: 497px;
  }
  h3 {
    padding: 0.5rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
      overflow: visible;
      white-space: normal;
      text-overflow: unset;
    }
  }
  img {
    height: 300px;
  }
}
